/* GENERAL */
html {
  font-size: 18px;
}
/* variables */
a {
  color: inherit;
  cursor: pointer;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.label-d-none {
  display: none;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  background:#F8F8F8;
}
h1, h2, h3, h4, h5, h6, p, input, li, nav, ul {
  padding: 0;
  margin: 0;
}
h1, h2, h3 {
  color: orangered;
}
button {
  background-color: orangered;
  border-style: none;
  color: white;
  padding: 13px 20px;
  border-radius: 25px;
}
button[type="submit"] {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 0.9rem;
}
button:hover {
  background-color: orangered;
  cursor: pointer;
  color: white;
}
button:focus {
  outline: none;
  box-shadow: none;
}
.btn {
  background-color: orangered;
  border-style: none;
  color: white;
  padding: 13px 20px;
  border-radius: 25px;
}
.btn:hover {
  background-color: orangered;
  cursor: pointer;
  color: white;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.form-btn {
  border-radius: 5px;
  padding: 10px 18px;
  border: 0;
  margin: 20px 0;
  color:white;
}
.content {
  margin-top: 100px;
}
/* GENERAL */
/* Header */
header {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  -webkit-box-shadow: 0 2px 35px -8px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0 2px 35px -8px rgba(0, 0, 0, 0.29);
  box-shadow: 0 2px 35px -8px rgba(0, 0, 0, 0.29);
  position: relative;
}
header #logo {
  height: 60px;
}
header #header-links {
  display: flex;
  align-items: center;
}
header nav ul > li {
  display: inline-block;
  margin-right: 30px;
}
ul li {
  list-style: none;
}
header nav ul li a {
  color: black;
  letter-spacing: 0.5px;
}
/* Header */
/* foodstuff List */
#foodstuff-list-and-map-container {
  display: flex;
  height: calc(100vh - 70px);
}
.foodstuff-list-container {
  width: 35vw;
}
#foodstuff-list-search {
  width: 100%;
  display: block;
  background: #f9f9f9 url('components/foodstuff/assets/img/glass.png') 10px 12px/28px no-repeat;
  border: 0;
  height: 60px;
  padding-left: 50px;
  outline: none;
}
.foodstuff-list {
  list-style: none;
  height: 100%;
  overflow: scroll;
}
.foodstuff-list li.selected {
  background-color: orangered;
  color: white;
}
.foodstuff-list li.selected .foodstuff-name {
    color: white;
}
.foodstuff-list li.selected button.take-it {
  color: orangered;
  background-color: white;
}
.foodstuff-list li.selected button.localize-it {
  color: white !important;
}
.foodstuff-list-item {
  display: flex;
  align-items: center;
  padding: 20px 0 25px 0;
  border-bottom: 1px solid #f2f2f2;
}
.foodstuff-list-item img {
  width: 100px;
  margin-left: 20px;
}
.foodstuff-list-item-description {
  margin-left: 20px;
  margin-right: 20px;
}
.foodstuff-list-item-description .foodstuff-name {
  padding-bottom: 5px;
  font-size: 18px;
}
.foodstuff-list-item-description .img-calendar {
  width: 14px;
  position: relative;
  margin-right: 4px;
}
.foodstuff-list-item-description .take-it {
  margin-top: 20px;
}
.foodstuff-list-item-description .localize-it {
  background: transparent;
  color: black !important;
}
.foodstuff-list-item-description .localize-it img {
  display: inline-block;
  width: 16px;
  height: auto;
  position: relative;
  top: -1px;
}
.modal-take-it-foodstuff-description {
  display: flex;
  margin-top: 24px;
  align-items: center;
  color: black;
}
.modal-take-it-foodstuff-description .foodstuff-img {
  height: 200px;
  margin-right: 20px;
}
.modal-take-it-foodstuff-description .img-calendar {
  height: 25px;
}
.modal-take-it-foodstuff-description .modal-take-it-foodstuff-name {
  color: orangered;
}
/* custom scroll bar */
.foodstuff-list::-webkit-scrollbar {
  width: 10px;
}
.foodstuff-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.foodstuff-list::-webkit-scrollbar-thumb {
  background: orangered;
}
.foodstuff-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* foodstuff List */
/* CreateFoodStuffModal */
#add-product-button {
  width: 100%;
  border-radius: 0;
  height: 60px;
}
/* CreateFoodStuffModal */
/* LeafletMap */
#map-container {
  width: calc(100% - 35vw);
  height: auto;
}
#map-container > * {
  width: 100%;
  height: 100%;
}
.leaflet-container {
  height: 100%;
}
.bounce {
  position: absolute;
  animation: bounce 0.35s ease 0s 12 alternate;
}
.bounce-infinite {
  position: absolute;
  animation: bounce 0.35s ease infinite alternate;
}
@keyframes bounce {
  from {
    top: 0;
  }
  to {
    top: -30px;
  }
}
/* LeafletMap */
/* FieldFileInput */
.label-file {
  cursor: pointer;
  color: orangered;
  border: 2px solid orangered;
  border-radius: 5px;
  padding: 10px;
}
#input-file {
  z-index: -1;
  position: absolute;
  opacity: 0;
}
/* FieldFileInput */
/* Modal */
.modal-style {
  padding: 2rem 4rem 4rem 4rem;
}
.modal-style-title {
  color: orangered;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0;
}
.modal-style form {
  margin-top: 20px;
}
.close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  cursor: pointer;
}
/* Modal */
/* Signin */
#signin {
  width: 40%;
  margin: auto;
  margin-top: 130px;
}
/* Signin */
/* Google adress auto complete */
.google-covert {
  width: 90%;
  position: absolute;
  left: 5%;
  z-index: 1000;
  background: white;
}
.google-covert > .custom-style-list:first-child {
  display: none;
}
.style-unordered-list {
  list-style: none;
}
.style-unordered-list li {
  padding: 2px 10px;
  cursor: pointer;
  list-style-type: none;
  transition: 50ms;
}
.style-unordered-list li:hover {
  background: orangered;
  color: white;
}
.style-unordered-list li:first-child {
  padding-top: 8px;
}
.style-unordered-list li:last-child {
  padding-bottom: 6px;
}
.location-box-cover > input {
  width: 100%;
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* Google adress auto complete */
/* Dashboard */
.dashboard-user-rank {
  color: orangered;
  font-size: 3rem;
}
#dashboard table img {
  max-width: 100%;
  width: 130px;
  display: block;
}
#dashboard table {
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 1px 37px -20px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 1px 37px -20px rgba(0,0,0,0.50);
  box-shadow: 0px 1px 37px -20px rgba(0,0,0,0.50);
}
#dashboard table * {
  position: relative;
  text-align: center;
}

#dashboard table td, #dashboard table th {
  padding-left: 8px;
  padding-right: 8px;
}
#dashboard table thead tr {
  height: 60px;
  background: orangered;
  color: white;
  font-size: 16px;
}
#dashboard table thead th{
  color:white;
}
#dashboard table tbody tr {
  height: 48px;
  border-bottom: 1px solid #EDEDED;
}
#dashboard table tbody tr:last-child {
  border: 0;
}
#dashboard table td, #dashboard table th {
}
#dashboard table td.l, #dashboard table th.l {
}
#dashboard table td.c, #dashboard table th.c {
  text-align: center;
}
#dashboard table td.r, #dashboard table th.r {
  text-align: center;
}

@media screen and (max-width: 35.5em) {
  #dashboard table {
    display: block;
  }
  #dashboard table > *, #dashboard table tr, #dashboard table td, #dashboard table th {
    display: block;
  }
  #dashboard table thead {
    display: none;
  }
  #dashboard table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  #dashboard table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  #dashboard table tbody tr td:last-child {
    margin-bottom: 0;
  }
  #dashboard table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  #dashboard table tbody tr td:nth-child(1):before {
    content: "Code";
  }
  #dashboard table tbody tr td:nth-child(2):before {
    content: "Stock";
  }
  #dashboard table tbody tr td:nth-child(3):before {
    content: "Cap";
  }
  #dashboard table tbody tr td:nth-child(4):before {
    content: "Inch";
  }
  #dashboard table tbody tr td:nth-child(5):before {
    content: "Box Type";
  }
}
/* Dashboard */
/* HelpEmy */
.page-title {
  margin-bottom: 2rem;
}
#helpEmy p, #whoIsEmy p {
  margin-bottom: 1rem;
}
#partner img {
  max-height: 300px;
}
/* HelpEmy */
/* Loader */
.loader {
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: relative;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation:
          spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loader */
/* Dashboard Header */
#dashboard-header {
  color: white;
  background:orangered;
  font-size: 1.2rem;
}
#dashboard-header #dashboard-header-links li {
  margin-right: 2rem;
}
/* Dashboard Header */
/* FlashMessage */
/*#flashMessage {*/
  /*background-color: white;*/
  /*color: orangered;*/
  /*font-weight: bold;*/
  /*font-size: 1.2rem;*/
  /*line-height: 3;*/
/*}*/
/* FlashMessage */
/*.flashMessage-enter {*/
  /*height: 0;*/
/*}*/

/*.flashMessage-enter.flashMessage-enter-active {*/
  /*height: 100px;*/
  /*transition: height 1000ms ease-in;*/
/*}*/

/*.flashMessage-leave {*/
  /*max-height: 400px;*/
/*}*/

/*.flashMessage-leave.flashMessage-leave-active {*/
  /*max-height: 0;*/
  /*transition: max-height 1s ease-in;*/
/*}*/
/*.flashMessage-appear {*/
  /*max-height: 0;*/
/*}*/

/*.flashMessage-appear.flashMessage-appear-active {*/
  /*max-height: 400px;*/
  /*transition: max-height 1s ease-in*/
/*}*/
.flashMessage {
  margin: 15px;
  padding: 20px 35px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 40px;
  z-index: 10;
  background: white;
}
.flashMessage button {
  margin-left: 1rem;
}
.s-alert-success {
  background-color: orangered !important;
  color: white !important;
  font-size: 1.3rem !important;
}
